<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.futuroblanquiazul.futuroblaquiazul">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Futuro Blanquiazul"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.Inicio.MainActivity" />
        <activity
            android:name=".Activities.Pruebas.PruebaDiagnosticoActivity"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".Activities.Captacion.PruebaAnimacionActivity" />
        <activity
            android:name=".Activities.Captacion.RegistroPostulantesActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Inicio.LoginActivity"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Inicio.PrincipalActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Ubigeo.UbigeoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Captacion.ValidarDiagnosticoIndividualActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.CaptacionMasiva.ListaMasivosActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.CaptacionMasiva.MasivoNuevoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Captacion.ListaPersonaMasivoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.CaptacionMasiva.PersonaNuevoMasivoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.CaptacionMasiva.MasivoResultadosActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Captacion.ListaPersonaSeguimientoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Captacion.ListaSeguimientosActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Captacion.SeguimientoActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Captacion.ValidarSeguimientoActivity" />
        <activity
            android:name=".Activities.Pruebas.PruebaFisicoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Pruebas.PruebaTecnicaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.BarrioIntimo.BarrioIntimoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.BarrioIntimo.BarrioIntimoPersonaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.ListaPlantelActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.GestionEvaluacionActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.ListaPersonasPlantelActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Inicio.RecuperarActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Inicio.CambiarPassActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.ListaGrupoPruebasActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.ListaPersonasGrupoPruebasActivity"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".Activities.Pruebas.PruebaPsicologicaActivity" />
        <activity android:name=".Activities.Pruebas.PruebaTacticaActivity" />
        <activity android:name=".Activities.Pruebas.PruebaNutricionalActivity" />
        <activity android:name=".Activities.Metodologia_Fase_Prueba.ListaPersonasFasePruebaActivity" />
        <activity android:name=".Activities.Metodologia_Fase_Prueba.GestionPersonaFasePruebaActivity" />
        <activity android:name=".Activities.Metodologia_Fase_Prueba.ListaPruebasDisponiblesActivity"></activity>
    </application>

</manifest>