<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.futuroblanquiazul.futuroblaquiazul">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icono_oficial_futuro"
        android:label="Futuro Blanquiazul"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.Inicio.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Pruebas.PruebaDiagnosticoActivity" />
        <activity android:name=".Activities.Captacion.PruebaAnimacionActivity" />
        <activity android:name=".Activities.Captacion.RegistroPostulantesActivity" />
        <activity
            android:name=".Activities.Inicio.LoginActivity"
            android:configChanges="screenSize|orientation">

        </activity>
        <activity
            android:name=".Activities.Inicio.PrincipalActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Ubigeo.UbigeoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Captacion.ValidarDiagnosticoIndividualActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.CaptacionMasiva.ListaMasivosActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.CaptacionMasiva.MasivoNuevoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.CaptacionMasiva.ListaPersonaMasivoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.CaptacionMasiva.PersonaNuevoMasivoActivity"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".Activities.CaptacionMasiva.MasivoResultadosActivity" />
        <activity
            android:name=".Activities.Captacion.ListaPersonaSeguimientoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Captacion.ListaSeguimientosActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Captacion.SeguimientoActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Captacion.ValidarSeguimientoActivity" />
        <activity
            android:name=".Activities.Pruebas.PruebaFisicoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Pruebas.PruebaTecnicaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.BarrioIntimo.BarrioIntimoActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.BarrioIntimo.BarrioIntimoPersonaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.ListaPlantelActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.GestionEvaluacionActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.ListaPersonasPlantelActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Inicio.RecuperarActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Inicio.CambiarPassActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.ListaGrupoPruebasActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia.ListaPersonasGrupoPruebasActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Pruebas.PruebaPsicologicaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Pruebas.PruebaTacticaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Pruebas.PruebaNutricionalActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia_Fase_Prueba.ListaPersonasFasePruebaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia_Fase_Prueba.GestionPersonaFasePruebaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Metodologia_Fase_Prueba.ListaPruebasDisponiblesActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Estadistico.ListaEventosEstadisticosActivity" />
        <activity android:name=".Activities.Estadistico.ListaFechasEstadisticosActivity" />
        <activity android:name=".Activities.Estadistico.NuevoEventoEstadisticoActivity" />
        <activity android:name=".Activities.Estadistico.NuevaFechaEstadisticoActivity" />
        <activity
            android:name=".Activities.Estadistico.DefinirPosicionesEventoActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Estadistico.DefinirFormacionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Estadistico.GestionFechaEstadisticoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Estadistico.DefinirTiemposActivity" />
        <activity android:name=".Activities.Mantenimientos.MantenimientoUsuarioActivity" />
        <activity
            android:name=".Activities.Mantenimientos.EdicionUsuarioActivity"
            android:configChanges="screenSize|orientation" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.futuroblanquiazul.futuroblaquiazul.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activities.Mantenimientos.EdicionPruebaActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Mantenimientos.MantenimientoPosicionesActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Mantenimientos.MantenimientoOponentesActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".Activities.Mantenimientos.MantenimientoPersonaActivity"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".Activities.Mantenimientos.EdicionPersonaActivity" />
        <activity android:name=".Activities.Mantenimientos.MantenimientoBarrioIntimoActivity" />
        <activity android:name=".Activities.Mantenimientos.EdicionBarrioIntimoActivity" />
        <activity
            android:name=".Activities.Mantenimientos.BarrioIntimoJugadoresActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Mantenimientos.MantenimientoCategoriasActivity" />
        <activity android:name=".Activities.Mantenimientos.EdicionCategoriactivity" />
        <activity
            android:name=".Activities.Mantenimientos.CategoriasJugadoresActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Mantenimientos.MantenimientoEquipoActivity" />
        <activity android:name=".Activities.Mantenimientos.EdicionEquipoActivity" />
        <activity
            android:name=".Activities.Mantenimientos.EquipoJugadoresActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Estadistico.InformacionFechaActivity" />
        <activity android:name=".Activities.Informacion.InfoBuscadorActivity" />
        <activity android:name=".Activities.Mantenimientos.PerfilPersonaActivity"></activity>
    </application>

</manifest>